<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143059553667-h6adqkhsdf4v5dg9qo6u7r4g3s7svqov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143059553667-h6adqkhsdf4v5dg9qo6u7r4g3s7svqov</string>
	<key>API_KEY</key>
	<string>AIzaSyC8X7aWDQ5WJp1aEHaNwvzItjtxUTRNowk</string>
	<key>GCM_SENDER_ID</key>
	<string>143059553667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Imp.ITF</string>
	<key>PROJECT_ID</key>
	<string>itfksm-dc54d</string>
	<key>STORAGE_BUCKET</key>
	<string>itfksm-dc54d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:143059553667:ios:04692c2441b4e13c</string>
	<key>DATABASE_URL</key>
	<string>https://itfksm-dc54d.firebaseio.com</string>
</dict>
</plist>